snippet f "Anonymous function (js)" i
function ($0) {
  $1
}
endsnippet

snippet fu "Anonymous function without arg (js)" i
function () {
  $0
}
endsnippet

snippet bi "bind (js)" i
.bind(null, $0)
endsnippet
