[submodule "YankRing.vim"]
	path = YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim_rainbow"]
	path = bundle/vim_rainbow
	url = https://github.com/chrismetcalf/vim-rainbow.git
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/snapmate"]
	path = bundle/snapmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/bufexeplorer"]
	path = bundle/bufexeplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
